body{
    font-family: times new roman;
    padding: 0px;
    margin: 0px;
}

#navigation{
    display: flex;
    align-items: baseline;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.row .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: justify;
}

.row .container img{
    width: 60%;
    height: 70%;
}

.row .container p{
    text-indent: 50px;
    line-height: 1.8;
}