body{
    font-family: times new roman;
    padding: 0px;
    margin: 0px;
}

#navigation{
    display: flex;
    align-items: baseline;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.row .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: justify;
}

.row .container p span{
    height: 200px;
    width: 200px;
}

.row .container p span img{
    float: left;
    margin-right: 15px;
    object-fit: contain;
}

.row .container p#content{
    text-indent: 50px;
    line-height: 1.8;
}

img{

}